<div class="container" style="padding-top: 100px;">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-6 col">
          <div class="card">
            <div class="card-body">
              <img src="../images/bootstrap-logo-shadow.png" width="100%" alt="">
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col col-sm-6">
            <h2 class="h1 mb-3">Who Are We?</h2>
                <p class="lead fs-4 text-secondary mb-3">
                  We help people to build incredible brands and superior
                  products. Our perspective is to furnish outstanding
                  captivating services.
                </p>
                <p class="mb-5">
                  Nullam gravida orci ac luctus molestie. Fusce finibus congue
                  erat, non aliquam magna tincidunt at. Aenean lacinia arcu ex,
                  sed pharetra nibh porta a. Curabitur vel consequat nibh, ac
                  interdum nisl. Nunc pulvinar nec massa vitae sollicitudin.
                </p>
        </div>
</div>