<div class="row mt-4">
  <!-- Card 1 -->
  <div class="col-sm-3 col">
    <div class="">
      <div class="" style="padding-top: 50px">
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
          <a href="#" class="list-group-item">Category 4</a>
          <a href="#" class="list-group-item">Category 5</a>
          <a href="#" class="list-group-item">Category 6</a>
          <!-- Thêm danh mục khác nếu cần -->
        </div>
      </div>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="col-sm-9 col">

    <h1 class="text-center">All Product </h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="images/products/1001.jpg"
            class="card-img-top"
            alt="Product 1"
          />
          <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">Description of Product 1.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="images/products/1002.jpg"
            class="card-img-top"
            alt="Product 2"
          />
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">Description of Product 2.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="images/products/1024.jpg"
            class="card-img-top"
            alt="Product 2"
          />
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">Description of Product 2.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="images/products/1001.jpg"
            class="card-img-top"
            alt="Product 1"
          />
          <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">Description of Product 1.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="images/products/1002.jpg"
            class="card-img-top"
            alt="Product 2"
          />
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">Description of Product 2.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="images/products/1024.jpg"
            class="card-img-top"
            alt="Product 2"
          />
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">Description of Product 2.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      
    </div> 
  </div>
</div>
