<div class="container" style="padding-top: 100px;">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-6 col">
          <div class="card">
            <div class="card-body">
              <img src="../images/products/1001.jpg" width="100%" alt="">
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card 2</h5>
              <p>Price: $300000</p>
              <p>Description:</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#!productdetail" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
</div>